<template>
  <!-- Features -->
  <div class="feature-map">
    <h2>What works</h2>
    <div class="features">
      <ul
        v-for="featureCategory in portStatus"
        :key="featureCategory.categoryName"
      >
        <li>
          <p class="bold">{{ featureCategory.categoryName }}:</p>
        </li>
        <li v-for="feature in featureCategory.features" :key="feature.name">
          <span v-if="feature.value === '+'" class="feature-icon"
            ><g-image src="~/assets/img/feature-matrix/working.svg" />
            <span v-if="feature.global"
              >&nbsp;<g-image
                src="~/assets/img/feature-matrix/global.svg" /></span
            >&nbsp;</span
          >
          <span v-else-if="feature.value === '+-'" class="feature-icon"
            ><g-image src="~/assets/img/feature-matrix/partial.svg" />
            <span v-if="feature.global"
              >&nbsp;<g-image
                src="~/assets/img/feature-matrix/global.svg" /></span
            >&nbsp;</span
          >
          <span v-else-if="feature.value === '-'" class="feature-icon"
            ><g-image src="~/assets/img/feature-matrix/not-working.svg" />
            <span v-if="feature.global"
              >&nbsp;<g-image
                src="~/assets/img/feature-matrix/global.svg" /></span
            >&nbsp;</span
          >
          <span v-else class="feature-icon"
            ><g-image src="~/assets/img/feature-matrix/untested.svg" />
            <span v-if="feature.global"
              >&nbsp;<g-image
                src="~/assets/img/feature-matrix/global.svg" /></span
            >&nbsp;</span
          >

          <a
            v-if="feature.bugTracker"
            :href="feature.bugTracker"
            :style="{ color: feature.value != '+' ? '#555' : 'inherit' }"
            target="_blank"
            rel="noreferrer noopener"
            >{{ feature.name }}</a
          >
          <span
            v-else
            :style="{ color: feature.value != '+' ? '#555' : 'inherit' }"
            >{{ feature.name }}</span
          >
        </li>
      </ul>
    </div>
    <p class="feature-legend">
      <span class="feature-legend-element feature-icon"
        ><g-image src="~/assets/img/feature-matrix/working.svg" />&nbsp;Working
      </span>
      <span class="feature-legend-element feature-icon"
        ><g-image src="~/assets/img/feature-matrix/partial.svg" />&nbsp;Partial
      </span>
      <span class="feature-legend-element feature-icon"
        ><g-image
          src="~/assets/img/feature-matrix/not-working.svg"
        />&nbsp;Not&nbsp;working
      </span>
      <span class="feature-legend-element feature-icon"
        ><g-image
          src="~/assets/img/feature-matrix/untested.svg"
        />&nbsp;Untested
      </span>
    </p>
    <p class="feature-legend">
      A link to issue report is available when a feature isn't fully working
    </p>
    <p class="feature-legend feature-icon">
      Some issues might not depend on the device, these are marked as global
      <g-image src="~/assets/img/feature-matrix/global.svg" />
    </p>
  </div>
</template>

<script>
export default {
  name: "PortStatus",
  props: {
    portStatus: {
      type: Array,
      default: function () {
        return [];
      }
    }
  }
};
</script>
